
{% extends 'glowny.html' %}

{% block tytul %} Potwierdź {% endblock %}

{% block strona %}
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h5 class="card-title">Czy aby na pewno chcesz usunąć film "{{ film.tytul }}"?</h5>
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Usuń film</button>
                <a class="btn btn-light" href="{% url 'wszystkie_filmy' %}">Cofnij</a>
            </form>
        </div>
    </div>
{% endblock %}